.about {
    background-color: var(--main-light);
}

.about-list {
    display: flex;
}

.about-item {
    width: calc((100% - 90px) / 4);

    .about-list .about-item+& {
        margin-left: 30px;
    }
}

.about-icon {
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;

    background-color: var(--primary-background);
}

.about-title {
    margin-top: 0;
    margin-bottom: 10px;

    font-size: var(--text-size);
    line-height: 1.1;
    text-transform: uppercase;
}

.about-text {
    margin-top: 0;
    margin-bottom: 0;

    line-height: 1.7;

    color: var(--secondary-color);
}